@page "/"
@inject Clientesclass clienteclass
<button class="btn btn-primary" @onclick="Lclientes">Lista de clientes</button>
<div class="card">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CLIENTE
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
            </div>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ORDEN DE COMPRA
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
            </div>
        </div>
    </div>
</div>


@code {
    protected void Lclientes()
    {
        var lista = clienteclass.Lclientes();
    }
}
